.signup
  %header.signup__header
    %h1
      = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3761641567", alt: "mercari", class: "signup__header__title"), root_path
  %main.signup__main
    %section.signup__main__box
      %h2.signup__main__box__registration 新規会員登録
      .signup__main__box__form
        .signup__main__box__form__link
          %a.signup__main__box__form__link__btn-default.signup__main__box__form__link__btn-mail{href: step3_users_path}
            %i.fa.fa-envelope-o
            メールアドレスで登録する
          %button#facebook-login.signup__main__box__form__link__btn-default.signup__main__box__form__link__btn-sns.signup__main__box__form__link__btn-sns-facebook
            %i.fab.fa-facebook-square
              %p Facebookで登録する
          %button#google-login.signup__main__box__form__link__btn-default.signup__main__box__form__link__btn-sns.signup__main__box__form__link__btn-sns-google
            = image_tag '/images/google.svg', alt: 'Flower'
            %p Googleで登録する
= render 'users/footer'