.complete
  %main.complete-main
    .complete-main__box
      %h1 会員登録完了
      .complete-main__box__form
        %p ありがとうございます。
        %p 会員登録が完了しました。
        .complete-main__box__form__link
          %a.btn{href: "https://www.mercari.com/jp/signup/registration/"}
            メルカリをはじめる