.btn.btn-default.glyphicon.glyphicon-heart{
  font-size: 14px;
  display: inline-block;
  margin: 1px 0 0 8px;
  vertical-align: middle;
  float: right;
}
.btn.btn-default.glyphicon.glyphicon-heart-empty{
  font-size: 14px;
  display: inline-block;
  margin: 1px 0 0 8px;
  vertical-align: middle;
  float: right;
}