.edit{
  background-color: rgb(245, 245, 245);
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  &__position{
    position: relative;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    background: #fff;
    ul{
      width: 1020px;
      margin: 0 auto;
      padding: 16px 0;
      white-space: normal;
      overflow: visible;
      li{
        display: inline-block;
        font-size: 14px;
        line-height: 1.2;
        a{
          color: #333;
        }
        i{
          margin: 0 8px;
          font-size: 18px;
          color: #888;
          line-height: 1;
        }
      }
      .profile{
        font-weight: 600;
      }
    }
  }
  &__main{
    height: 1292px;
    margin: 40px auto 0;
    width: 1020px;
    &__profile{
      float: right;
      width: 700px;
      section{
        background: #fff;
        h2{
          font-size: 24px;
          padding: 8px 24px;
          border-bottom: 1px solid #f5f5f5;
          text-align: center;
          line-height: 1.4;
          font-weight: 900;
        }
      }
      &__icon{
        padding: 72px 16px 24px;
        background: url("user-profile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        font-size: 0;
        profile-figure{
          display: inline-block;
          overflow: hidden;
          border-radius: 50%;
          vertical-align: middle;
        }
        .input-default{
          margin-left: 8px;
          width: 185px;
          vertical-align: middle;
          height: 30px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
      }
        &__content{
          padding: 40px 16px;
          .textarea-default{
            min-height: 190px;
            display: block;
            width: 97%;
            max-width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            line-height: 1.5;
          }
          button{
            margin: 16px 0 0;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 45px;
            font-size: 14px;
          }
        }
        
      
    }
    &__l-side{
      float: left;
      width: 280px;
      margin: 0 40px 0 0;
      padding: 0 0 40px;
      &__nav{
        &__list{
          &__item{
            height: 16px;
            border-bottom: 1px solid #eee;
            position: relative;
            display: block;
            padding: 16px;
            background: #fff;
            font-size: 14px;
            color: #333;
            &__active{
              font-weight: 600;
              background: #eee;
              height: 16px;
              border-bottom: 1px solid #eee;
              position: relative;
              display: block;
              padding: 16px;
              font-size: 14px;
              color: #333;
              .icon-arrow-right{
                height: 10px;
                width: 10px;
                content: "";
                position: absolute;
                right: 16px;
                top: 50%;
                border-bottom: 2px solid #333;
                border-right: 2px solid #333;
                margin: auto;
                box-sizing: border-box;
                transform: rotate(-45deg);
              }
            }
           
          }
        }
        &__head{
          margin: 40px 0 0;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}
.download__display__content {
  margin: 0 325px 0 325px;
}