.search_for-main{
  position: relative;
  width: 100％;
  min-height: 155vh;
  &__name{
    font-size: 20px;
    width: 700px;
    padding: 20px 0 15px 0;
  }
  &__name_a{
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
  }
  &__name_b{
    display: inline-block;
  }
  &__count{
    font-size: 14px;
    color: rgb(0, 128, 107);
  }
  &__products{
    width: 800px;
    margin-left: 40%; 
    padding-bottom: 100px; 
  }
  &__products-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 10px;
  }
  &__breadcrumb{
    position: absolute;
    bottom: 0;
    max-height: 50px;
    border-top: solid 1px rgb(209, 205, 205);
    margin-top: 100px;
    padding: 20px;
    width: 100%;
    clear: left;
  }
  &__side-bar{
    background-color: white;
    margin: 50px 0 0 150px;
    padding: 20px 0 0 25px;
    width: 280px;
    height: 100%;
    float: left;
    font-size: 16px;
    font-weight: 600;
    &--title{
      padding-bottom: 15px;
    }
    &--keyword{
      font-size: 14px;
      #q_name_cont{
        padding: 7px;
        height: 48px;
        width: 248px;
        border: rgb(168, 164, 164) solid 1px;
        border-radius: 4px;
        margin-bottom: 30px;
      }
    }
    &--category{
      font-size: 14px;
    }
    #q_category_id{
      display: block;
      height: 48px;
      width: 248px;
      margin-bottom: 10px;
      background-color: rgb(255, 255, 255);
    }
    &--brand{
      padding-top: 30px;
      font-size: 14px;
      #q_brand_id_eq{
      padding: 7px;
      height: 48px;
      width: 248px;
      border: rgb(168, 164, 164) solid 1px;
      border-radius: 4px;
      margin-bottom: 30px;
    }
    }
    &--price{
      font-size: 14px;
      input{
        padding: 7px;
        height: 48px;
        width: 110px;
        border: rgb(168, 164, 164) solid 1px;
        border-radius: 4px;
        margin-bottom: 30px;
      }
    }
    &--stage{
      font-size: 14px;
      &--box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 10px;
      }
      &--content{
        font-size: 16px;
        font-weight: 400;
        width: 100px;
      }
    }
    &--delivery-responsivility{
      padding-top: 30px;
      font-size: 14px;
      &--box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 30px;
        font-size: 16px;
        font-weight: 400;
        width: 250px;
      }
    }
    &--status{
      padding-top: 30px;
      font-size: 14px;
      &--box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 0px;
        font-size: 16px;
        font-weight: 400;
      }
    }
    &--button{
      padding-top: 30px;
      height: 100px;
      width: 100%;
      &--reset{
        display: inline-block;
        button{
          height: 50px;
          width: 120px;
          background-color: rgb(109, 139, 139);
          border-radius: 4px;
          font-size: 16px;
          color: white;
        }
      }
      &--submit{
        display: inline-block;
        input{
          height: 50px;
          width: 120px;
          background-color: rgb(218, 4, 4);
          border-radius: 4px;
          font-size: 16px;
          color: white;
        }
      }
    }
  }
}
