.sell{
  bottom: 32px;
  font-size: 22px;
  height: 160px;
  right: 32px;
  width: 160px;
  position: fixed;
  z-index: 2;
  &__btn{
    &__detail{
      text-align: center;
      background-color: rgb(234, 53, 45);
      border-radius: 50%;
      height: 128px;
      width: 160px;
      padding-top: 32px;
      &__text{
        font-size: 22px;
        color: rgb(255, 255, 255)
      }
     
      
    }
  }

}