@mixin label { 
  font-weight: 600;
  display: inline-block;
  font-weight: bold;
}
@mixin need {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
@mixin input {
  height: 28px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}
@mixin clearfix(){
  &::after{
    content: "";
    display: block;
    clear: both;
  }
}
@mixin btn{
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  min-height: 1.5em;
  font-family: inherit;
}



.selling{
  position: relative;
  min-height: 100%;
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1; 
  &__main{
    &__sec{
      margin: 0 auto;
      width: 700px;
      background: #fff;
      &__content__form{
        &__heading{
          padding: 32px 16px;
          font-size: 22px;
          line-height: 1.5;
          font-weight: bold;
          text-align: center;
        }
        &__write{
          border-top: 1px solid #eee;
          &__upload{
            width: 620px;
            padding: 40px;
            &__heading{
              font-size: 16px;
              font-weight: bold;
              &__need{
                @include need;
              }
            }
            &__p{
              margin: 8px 0 0;
              line-height: 1.5;
            }
            &__box{
              display: block;
              width: 620px;
              margin: 16px auto 0;
              &::after{
                content: "";
                display: block;
                clear: both;
              }
              &__items{
                ul{
                  display: block;
                }
              }
              &__drop{
                width: 100%;
                margin-left: 0;
                float: right;
                position: relative;
                min-height: 162px;
                background: #f5f5f5;
                border: 1px dashed #ccc;
                text-align: center;
                cursor: pointer;
                &__input{
                  position: absolute;
                  left: 0;
                  opacity: 0;
                  width: 622px;
                  height: 164px;
                  cursor: pointer;
                  z-index: 2;
                  &__select{
                    position: absolute;
                    top: 40%;
                    left: 16px;
                    right: 16px;
                    text-align: center;
                    font-size: 14px;
                    line-height: 1.5;
                    z-index: 1;
                  }
                }
                &__icon{
                  display: none;
                }
              }
            }
          }
          &__content{
            padding: 40px;
            border-top: 1px solid #eee;
            &__group{
              margin: 40px 0 0;
              &:first-child{
                margin: 0;
              }
              &__label{
                @include label;
                &__need{
                 @include need;
                }
              }
              &__input{
                width: 588px;
                margin: 8px 0 0;
                @include input;
              }
              &__textarea{
                margin: 8px 0 0;
                display: block;
                width: 598px;
                max-width: 100%;
                min-height: 104px;
                padding: 10px;
                border: 1px solid #ccc;
                background: #fff;
                font-size: 16px;
                line-height: 1.5;
              }
            }
            &__heading{
              float: left;
              color: #888;
              font-size: 14px;
              font-weight: bold;
            }
            &__box{
              float: right;
              width: 400px;
              margin: 0;
              &__group{
                margin: 40px 0 0;
                &:first-child{
                  margin: 0;
                }
                &__label{
                  @include label;
                  &__need{
                    @include need;
                  }
                  &__free{
                    background: #ccc;
                    margin: 0 0 0 8px;
                    padding: 2px 4px;
                    border-radius: 2px;
                    color: #fff;
                    font-size: 12px;
                    vertical-align: top;
                  }
                }
                &__select{
                  margin: 8px 0 0;
                  position: relative;
                  background: #fff;
                  font-family: inherit;
                  &__icon{
                    margin: 0;
                    position: absolute;
                    right: 16px;
                    top:35%;
                    z-index: 2;
                    color: #888;
                    font-size: 20px;
                    font-weight: bold;
                  }
                  
                  &__list{
                    width: 400px;
                    padding: 0 16px;
                    position: relative;
                    z-index: 2;
                    height: 48px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    background: 0;
                    font-size: 16px;
                    line-height: 1.5;
                    cursor: pointer;
                    -webkit-appearance: none;
                  }
                  &__input{
                    width: 366px;
                    padding: 0 16px;
                    position: relative;
                    z-index: 2;
                    height: 48px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    background: 0;
                    font-size: 16px;
                    line-height: 1.5;
                    cursor: pointer;
                    -webkit-appearance: none;
                  }
                }
              }
              &__list{
                list-style: none;
                &__group{
                  padding: 0 0 24px;
                  &__clearfix{
                    @include clearfix();
                    &__label{
                      @include label;
                      line-height: 48px;
                      &__need{
                        @include need;
                      }
                    }
                    &__price{
                      width: 50%;
                      text-align: right;
                      float: right;
                      &__input{
                        display: inline-block;
                        width: 80%;
                        margin: 0 0 0 5%;
                        &__form{
                          margin: 0;
                          text-align: right;
                          width: 126px;
                          @include input;
                        }
                      }
                    }
                  }
                }
                &__per{
                  padding: 24px 0;
                  border-top: 1px solid #ccc;
                  &__clearfix{
                    @include clearfix();
                    &__left{
                      float: left;
                    }
                    &__right{
                      float: right;
                    }
                  }
                }
                &__profit{
                  padding: 24px 0;
                  border-top: 1px solid #ccc;
                  &__clearfix{
                    @include clearfix();
                    font-weight: bold;
                    &__left{
                      float: left;
                      font-size: 16px;
                    }
                    &__right{
                      float: right;
                      font-size: 34px;
                    }
                  }
                }
              }
            }
            &__link{
              display: inline-block;
              width: 14px;
              height: 14px;
              border-radius: 50%;
              background: #0099e8;
              color: #fff;
              line-height: 14px;
              font-size: 12px;
              text-align: center;
            }
          }
          &__btn-box{
            padding: 40px;
            border-top: 1px solid #eee;
            &__explain{
              &__line{
                line-height: 1.5;
                &__link{
                  color: #0099e8;
                  text-decoration: none;
                }
              }
            }
            &__btn{
              margin: 40px 0 0;
              background: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
              @include btn;
            }
            &__link{
              @include btn;
              width: 45%;
              margin: 24px auto 0;
              background: #aaa;
              border: 1px solid "aaa";
              color: #fff;           
            }
          }
        }
      }
    }
  }
}
