.step3-single_container {
    padding: 0 0 0px;
}    
.single-main{
  width: 700px;
  background-color: white;
}
.l-capter-head{
  font-size: 22px;
  padding: 32px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid $main_color; 
}
#new_user{
  padding: 40px 40px 64px;
}
.l-single-content{
  max-width: 343px;
  margin: 0 auto;
}
.form-group label{
  font-weight: 600;
}
input{
  width: calc(100% - 34px);
  margin-top: 8px;
  padding: 10px 16px 8px;
  height: 28px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.form-group:not(:first-of-type){
  padding-top: 32px;
}
.form-require{
  background-color: red;
  color: white;
  margin-left: 8px;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 2px;
  vertical-align: top;
}
.form-any{
  background-color: rgb(204, 199, 199);
  color: white;
  margin-left: 8px;
  font-size: 12px;
  padding: 2px 4px; 
  border-radius: 2px; 
  vertical-align: top;
}
.submit-btn{
  width: 100%;
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 0; 
  height: 50px;
  cursor: pointer;
}
