.pc-header{
  background-color: blue;
  width: 100%;
  height: 100px;
}
.pc-header-inner{
  height: 100%;
}
.pc-header-top{
  height: 40px;
  width: 134px;
  display: flex;
}
.new_product{
  height: 40px;
}
.input-default{
  width: 841px;
  height: 40px;
}
// input[type="search"] {
  // width: 300px;
//   height: 40px;
// }