.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
h1{
  height: 36px;
}
.pc-header{
  background-color: #fff;
  width: 100%;
  height: 100px;
  border-bottom: solid 1px rgb(244, 244, 253);
  &__inner{
  width: 1020px;
  margin: 0 auto;
  padding: 8px 0 0;   
  font-size: 14px; 
  }
  &__top{
  display: flex;
  }
  &__nav{
    
    &--box{
      margin: 8px 0 0;
      height: 44px;

    }
    &--root{
      font-weight: 700;
      text-decoration: none;
      padding-right: 22px;
    }
  }
}
.pc-header li{
  display: inline-block;
}
.l-left{
  float: left;
  line-height: 36px;  
}
.l-right{
  float: right;
}
.icon-list{
  margin-right: 4px;
  color: red;
  font-size: 15px;
}
.fa-rotate-315 {
	transform: rotate(315deg);
}
.product_search{
  width: 100%;  
  height: 40px;
  position: relative;
  margin-left: 45px;
}
.input-default{
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px 16px 8px;
  font-size: 16px;
}
#search_btn{
  display: none;
}
.search_icon{
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sp-header-btn{
  display: inherit;
  border: 1px solid red;
  color: white;
  background: red;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  text-decoration: none;
  border-radius: 4px;
}
.header-login{
  border: 1px solid blue;
  color: blue;
  background: none;
  margin-left: 7px;
}
.global-footer nav{
  width: 1020px;
  margin: 0 auto;
}
.global-footer{
  background: #212121;
  color: #fff;
  padding: 0 20px 10px 20px; 
}
.footer-cell{
  margin: 18px 0 0 0;
  width: 23%;
  float: left;  
}
.footer-cell:first-child{
  width: 20%;
  padding: 0 20px 0 0;
}
.footer-cell.full-width{
  width: 42%;
  padding-right: 40px;
}
.footer-cell li{
  margin-top: 14px;  
  opacity: .7;
}
.footer-cell a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;

}  
.footer-social-link{
  display: inline-block;
}
.footer-social-link a{
  opacity: 1;
}
.icon_twitter{
  margin: 16px 18px 0 0;
}
.inner-footer-cell{
  float: left;
  width: 50%;
}
.footer-nav-lang{
  width: auto;
}
.footer-bottom{
  width: 1020px;
  margin: 30px auto 20px;
}
.footer-copyright{
  font-size: 12px;
  width: 745px;
  text-align: center;
  display: inline-block;
}
.footer-logo{
  text-decoration: none;
}
div {
  visibility: visible;
  transition: all 0.5s ease 0s;
  opacity: 1;
}
.sp-header-iine{
  margin-right: 22px;
  position: relative;
  top: -10px;
  transition: 1.0s ;
  color: rgb(0, 0, 0);
  .fa.fa-heart-o{
    font-size: 20px;
    margin-right: 6px;
    transition: 1.0s ;
    .fa.fa-heart-o-text{
      font-size: 14px;
      
    }
  }
}
// .sp-header-iine:hover {
  //   color:rgb(0, 162, 255);
  // }
  .fa.fa-heart-o:hover {
    color:rgb(0, 162, 255);
    .fa-heart-o::before {
      content: "\f08a";
      color: rgb(204, 204, 204);
  
  }
  }
 
.sp-header-notice{
  margin-right: 19px;
  position: relative;
  top: -10px;
  transition: 1.0s ;
}
.sp-header-notice:hover {
  color:rgb(0, 162, 255);
}
.fa.fa-bell-o{
  color: rgb(204, 204, 204);
  font-size: 20px;
  margin-right: 5px;
  transition: 1.0s ;
}
.fa.fa-bell-o:hover {
  color:rgb(0, 162, 255);
}
.sp-header-todolist{
  position: relative;
  top: -10px;
  margin-right: 25px;
  transition: 1.0s ;
}
.sp-header-todolist:hover {
  color:rgb(0, 162, 255);
}
.fa.fa-check{
  color: rgb(204, 204, 204);
  font-size: 25px;
  margin-right: 8px;
  position: relative;
  bottom: -5px;
  transition: 1.0s ;
}
.fa.fa-check:hover {
  color:rgb(0, 162, 255);
}
.sp-header-mypage{
  transition: 1.0s ;
}
.sp-header-mypage:hover {
  color:rgb(0, 162, 255);
}
.sp-header-mypage-link{
  position: relative;
  top: -10px;
}
.sp-header-mypage-img{
  margin-right: 10px;
  width: 32px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  bottom: -10px;
}
