.main__r-content{
  float: right;
  width: 700px;

  &__block{
    margin: 0;
    background: #fff;
    &__form{
      padding: 64px;
      border-top: 1px solid #f5f5f5;
      max-width: 320px;
      margin: 0 auto;
      &__btn{
        background-color: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
      }
    }
  }
  &__l-side{
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
    padding: 0 0 40px;
    &__nav{
      &__list{
        &__item{
          height: 16px;
          border-bottom: 1px solid #eee;
          position: relative;
          display: block;
          padding: 16px;
          background: #fff;
          font-size: 14px;
          color: #333;
          &__active{
            font-weight: 600;
            background: #eee;
            background: #eee;
            height: 16px;
            border-bottom: 1px solid #eee;
            position: relative;
            display: block;
            padding: 16px;
            font-size: 14px;
            color: #333;
            .icon-arrow-right{
              height: 10px;
              width: 10px;
              content: "";
              position: absolute;
              right: 16px;
              top: 50%;
              border-bottom: 2px solid #333;
              border-right: 2px solid #333;
              margin: auto;
              box-sizing: border-box;
              transform: rotate(-45deg);
            }
          }
         
        }
      }
      &__head{
        margin: 40px 0 0;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
