%div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
  %a.contents__content__category-list__box__elements__element__link
    %figure.contents__content__category-list__box__elements__element__link__detail
      %figcaption.contents__content__category-list__box__elements__element__link__detail__caption
        %span
      .contents__content__category-list__box__elements__element__link__detail__image
        %span{"aria-label" => "Price"}
          ¥23,000
        %img