%main.puroduct-destory
  = render "shared/mypage-sidebar"
  .puroduct-destory__main
    %p.puroduct-destory__main__text 商品を削除しました
    .puroduct-destory__main__go-mypage マイページへ
= render "shared/download-ad"
= render "shared/sell-btn"
