%main.puroduct-destory
  = render "shared/mypage-sidebar"
  .puroduct-destory__main
    %p.puroduct-destory__main__text 商品を削除しました
    = link_to "/users/mypage", class: "puroduct-destory__main__go-mypage" do
      マイページへ
= render "shared/download-ad"
= render "shared/sell-btn"
