%div
    プライバシーポリシー
    株式会社メルカリ、株式会社ソウゾウおよび株式会社メルペイ（その他、連結対象子会社を含み、以下「弊社グループ」といいます）では、下記の「プライバシーポリシー」に基づき、お客様の個人情報を取り扱います。 弊社グループは、「プライバシーポリシー」の他に、個別のサービスカテゴリ（例えば、「金融サービス」）について特別なプライバシーポリシー（以下「サービスプライバシーポリシー」といいます）を定めることがあります。その場合、「プライバシーポリシー」とサービスプライバシーポリシーは併せて適用されるものとし、両者に矛盾がある場合は、サービスプライバシーポリシーが優先するものとします。

    お客様におかれましては、弊社グループが運営する各種サービス（以下あわせて「本サービス」といいます）のご利用のため、下記の「プライバシーポリシー」をご熟読ください。

    1. 取得する情報
    弊社グループが「4.取得情報の利用目的」に定める目的を達成するために取得する情報には、次のものが含まれます（以下(1)および(2)をあわせて「取得情報」とします）。

    弊社グループがお客様から取得する情報
    個人情報とは、個人情報の保護に関する法律（平成15年法律第57号、以下「個人情報保護法」といいます）2条1項に定める個人情報をいいますが、特に弊社グループにおいて下記は個人情報として扱います。
    氏名、生年月日、性別、ご職業、その他の特定の個人を識別することができる情報
    特定の個人情報に結びついて使用されるご住所、電話番号、アカウント情報（メールアドレスおよびパスワード等をいいます）、ニックネーム等の情報
    クレジットカード情報
    個人情報と一体となった趣味、家族構成、年齢その他の個人に関する属性情報
    お客様の本人確認に関する情報
    お客様がFacebook Connectを使用することを許諾し、FacebookのIDおよびパスワードを入力した場合に取得できる名前、ニックネーム、電子メールアドレス、Facebook ID、誕生日、性別、プロフィール画像、Facebook上の友達情報、その他のお客様のFacebook上で登録されている情報
    弊社グループが本サービスの利用に関連して取得する情報
    個人情報に該当するか否かにかかわらず、本サービスの利用に関する以下の情報を取得します。
    お客様がご利用になった本サービスの内容、ご利用日時および回数、本サービス利用時のお客様のオンライン行動等、お客様による本サービスの利用・閲覧に関連する情報（これには、Cookie情報、アクセスログ等の利用状況に関する情報、ご利用の端末情報、位置情報、そしてIPアドレス、ブラウザ情報、ブラウザ言語等を含むお客様の通信に関する情報を含みます）
    お客様が本サービスに掲載・発信した投稿、写真、動画、コメント、取引メッセージ、評価その他の情報
    お客様の本サービスでの決済状況に関する情報
    2. 取得情報の収集方法
    弊社グループは、本サービスをご利用になるお客様の取得情報を、以下の方法等により収集します。

    本サービス上でお客様自身に直接ご入力いただく方法
    お客様から弊社グループに対し、電子メール、郵便、書面、電話等でご提供いただく方法（弊社グループは、お客様との電話応対時、応対品質向上等のため通話を録音します）
    お客様による本サービスの利用・閲覧の際に収集する方法
    業務提携先および第三者から間接的に収集する方法（これには、お客様がFacebook Connectを使用することを許諾しFacebookのIDおよびパスワードを入力した場合に、Facebookからお客様の登録情報を収集する方法を含みます）
    3. 取得情報の管理
    弊社グループにて取得情報を管理・利用する業務に従事する者は、お客様の取得情報について厳重に管理を行い、個人情報への不当なアクセス、紛失、漏洩、改ざん等が起きないよう、取得情報の取扱に十分な注意を払い、その業務に努めます。

    4. 取得情報の利用目的
    弊社グループは、取得情報を取得・収集する際にお客様にお知らせした利用目的、利用規約に定める利用目的または以下の目的のために、取得情報を利用します。

    本サービスに関する各種事項の連絡や情報提供を行うため
    本サービスを提供するため
    本サービスにユーザー登録する際に必要な情報入力を簡略化するため
    お客様のお申込みにかかる本サービス間の情報連携のため
    電子メール配信サービスのお申し込みの確認やメールを配信するため
    本サービスに関するご購入の確認やお届けをするため
    本サービスに関するご請求、お支払いとその確認をするため
    ご協力いただいた調査等に対する謝礼等をお送りするため
    ご応募いただいた懸賞等に対する景品等をお送りするため
    本サービスの利用状況等を調査・分析するため
    本サービスの内容をよりご満足いただけるよう改良・改善し、または新サービスの開発のため
    本サービスの内容をお客様にあわせてカスタマイズするため
    本サービスに関する満足度を調査するため
    取得情報を統計的に処理した情報を、集約し調査結果として公表するため
    本サービス、新サービスその他の各種サービスのご案内やお知らせをお届けするため
    調査のご協力依頼や各種イベントへのご参加をお願いしたり、その結果等をご報告するため
    弊社グループや第三者の広告の配信または表示のため
    弊社グループや第三者の提供するサービス内に商品の情報を配信または表示するため
    本サービス運営上のトラブルの解決のため
    5. 取得情報の第三者への提供
    弊社グループは、以下に定める場合、取得情報を第三者に提供します。

    本サービスを提供するために弊社グループが必要と判断した、本サービス上での情報の提供の場合
    お客様は、提供された他のお客様の情報を、本サービスの利用規約に従った本サービスの利用に必要な範囲でのみ利用するものとし、それぞれのお客様の事前の同意なく、他のお客様の情報を第三者に提供してはなりません。また、取得情報は、本サービス上で弊社グループが定める期間、公開されます。
    弊社グループがサービスの運営および提供において必要と判断した場合
    商品の配送、代金決済、お客様からのお問い合わせへの対応、弊社グループからお客様へのお問い合わせ、関連するアフターサービスの提供等のために、配送業者、決済代行業者、業務委託先その他の第三者に提供する場合
    法令等に基づき、裁判所、行政機関、監督官庁その他公的機関から取得情報を提供するよう求められた場合
    第三者との紛争解決のため、または本サービスのユーザーもしくは第三者の権利や利益等を守るために情報提供が必要と弊社グループが判断した場合
    本サービスの利用状況等を調査・分析するため、弊社グループがかかる調査・分析等を委託する第三者に提供する場合
    弊社グループや第三者の広告の配信または表示のため、第三者に提供する場合
    弊社グループや第三者の提供するサービス内に商品の情報を配信または表示するため、第三者に提供する場合
    その他、弊社グループが取得情報の提供が必要と判断した場合に、お客様の同意を得た上で、取得情報を提供することがあります。

    6. 取得情報の取扱いに関する第三者への委託
    弊社グループは、「4. 取得情報の利用目的」の達成に必要な範囲内において、取得情報の取扱いの全部または一部を業務委託先に委託することがあります。その際、弊社グループが定める委託先選定基準を満たす者であるかを十分審査し、契約にあたっては取得情報が適正に管理されるよう確保します。

    7. 取得情報の共同利用
    弊社グループは、「4．取得情報の利用目的」の達成に必要な範囲で、取得情報を、弊社グループ各社間で共同利用します。

    共同して利用される情報
    「1. 取得する情報」に規定されている取得情報
    共同して利用する者の範囲
    「プライバシーポリシー」の前文に規定されている弊社グループ
    共同利用する者の利用目的
    「4. 取得情報の利用目的」の達成のため
    共同利用における管理責任者
    株式会社メルカリ（具体的なお問い合わせにつきましては、「15.お問い合わせ」をご参照ください）
    8. 「Cookie」等の利用
    Cookieの使用を許可するかにつきましては、お客様が設定できます。 多くのWebブラウザでは、自動的にCookieの使用が許可されますが、Cookieの使用を禁止するようにブラウザの設定を変更することも可能です。

    Cookieの使用を禁止した場合、本サービスを正常に利用できない、あるいはCookieを必要とする広告設定を反映できなくなる可能性があります。
    弊社グループは、お客様のCookie情報や、閲覧された広告・ページ、お客様のご利用環境等の情報を自動的にお客様のブラウザから受け取り、サーバに記録し、本サービスログイン時の電子メールアドレス自動入力等の利便性向上のため、セッションの維持および保護等セキュリティの為、また、新しいサービスを検討するため、サービスや広告の内容をよりお客様に適したものとするために利用します。
    9. Google アナリティクスについて
    弊社グループは本サービスの利用状況等を調査・分析するため、本サービス上に Google Inc.が提供する Google アナリティクスを利用しています。Google アナリティクスの利用規約に関する説明については Google アナリティクスのサイトを、Google 社のプライバシーポリシーに関する説明については同社のサイトをご覧ください。

    Google アナリティクス 利用規約：
    https://www.google.com/analytics/terms/jp.html
    Google プライバシーポリシー：
    http://www.google.com/intl/ja/policies/privacy/

    Google アナリティクスは Cookie 等の仕組みでお客様の利用状況等を把握しています。お客様は、ご自身のデータが Google アナリティクスで使用されることを望まない場合は、Google 社の提供する Google アナリティクス オプトアウト アドオンをご利用ください。

    Google アナリティクス オプトアウト アドオン：
    https://tools.google.com/dlpage/gaoptout?hl=ja

    　
    10. 「ログ」および「機器情報」の使用等
    ログ
    弊社グループは、ユーザーが本サービス訪問時に自動で生成される、IPアドレス、ブラウザ種類、ブラウザ言語等を収集します。
    これらの情報はユーザー環境を分析し、より良いサービス提供のため、また正常なサービス提供を妨害する不正行為防止のために利用します。検索に関する記録は個人を特定することができない形態で保存および管理され、統計データ作成等の用途で利用します。
    機器情報
    弊社グループは、端末の個体識別情報等の機器情報を収集する場合があります。
    これらの情報はより良いサービス提供のため、また正常なサービス提供を妨害する不正行為防止のために利用します。
    11. 弊社グループによる個人情報の訂正
    個人情報のうち、市町村等の名称および郵便番号、金融機関の名称あるいはクレジットカードの有効期限等、商品のお届けやご請求を行う上で支障がある情報に変更があった場合には、弊社グループが登録されている個人情報を変更する場合があります。

    12. 個人情報の管理およびセキュリティ
    弊社グループでは、収集した取得情報を、一般のユーザーがアクセスできない環境下にあるサーバにて安全に保管し、不正アクセス・紛失・破壊・改ざんまたは漏洩が生じないよう努めます。

    13. 未成年のお客様の情報
    お客様が未成年者の場合は、ご両親、保護者または後見人の方が「プライバシーポリシー」および利用規約等の内容に同意され、お客様が「プライバシーポリシー」および利用規約等に基づき本サービスをご利用いただくことについて包括的に同意されることが必要となります。

    14. 「プライバシーポリシー」の改善および更新
    弊社グループは「プライバシーポリシー」に関し、適宜改善に取り組みます。

    法令変更への対応や事業上の必要性等に応じて、「プライバシーポリシー」が改定される場合があります。弊社グループは、「プライバシーポリシー」を変更した場合には、お客様に通知するものとします。
    お客様におかれましては、本サービスにアクセスするか弊社グループのサービスをご利用になる前に、必ず最新の「プライバシーポリシー」をご確認ください。
    15. 個人情報の開示・訂正・利用停止等の手続
    お客様はいつでもご登録されているお客様の情報を、本サービス上で確認、訂正することができます。

    お客様は弊社グループに対し、本サービス上で確認できない個人情報の開示を求める場合、弊社グループが別途定めた手続に従って、次の場合を除き開示を請求することができます。

    開示することで本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合
    開示することで弊社グループの業務の適正な実施に著しい支障を及ぼすおそれがある場合
    開示することが法令に違反することとなる場合
    開示の請求がご本人からであることが確認できない場合
    開示の結果、お客様が弊社グループ保有の個人情報の内容が事実でないと判断した場合は、弊社グループが別途定めた手続きに従って、個人情報の訂正・追加・削除を請求することができます。その場合、弊社グループは利用目的の達成に必要な範囲内で遅滞なく調査を行い、その結果に基づき当該個人情報の訂正・追加・削除を行います。

    なお、本サービス上で確認できない個人情報の開示を請求される場合には、弊社グループが別途定めた手続きに従って開示手数料をいただく場合があります。

    16. お問い合わせ
    「プライバシーポリシー」に関するお問い合わせは、弊社グループの下記担当までお願いします。

    〒106-6118 東京都港区六本木6-10-1 六本木ヒルズ森タワー18F
    株式会社メルカリ 個人情報担当者宛
    金融サービス プライバシーポリシー
    弊社グループは、弊社グループが提供する前払式支払手段の発行の業務及び資金移動業等の決済サービスその他金融関連事業（以下「本件金融サービス」といいます）におけるお客様の情報について以下のとおり取り扱います。

    なお、本ポリシーは、株式会社メルカリ、株式会社ソウゾウおよび株式会社メルペイ（その他、連結対象子会社を含み、以下「弊社グループ」といいます）が別途定める「プライバシーポリシー」（以下「共通ポリシー」といいます）と併せて適用されるものとし、両者に矛盾がある場合は、本ポリシーが優先するものとします。

    1. 用語の定義
    本ポリシーに使用する用語は、本ポリシーにて個別に定義する他は、共通ポリシーにおいて定める意味を有するものとします。

    2. 取得する情報
    弊社グループは、共通ポリシーにおける「1. 取得する情報」にかかわらず、本件金融サービスにおいて次のように個人情報を含む情報を取得します（以下(1)および(2)をあわせて「取得情報」とします）。

    弊社グループがお客様から取得する情報
    a. 氏名、生年月日、性別、ご職業その他の特定の個人を識別することができる情報

    b. 特定の個人情報に結びついて使用されるご住所、電話番号、アカウント情報（メールアドレスおよびパスワード等をいいます）、ニックネーム等の情報

    c. クレジットカード情報

    d. 銀行口座に関する情報

    e. 個人情報と一体となった趣味、家族構成、年齢その他の個人に関する属性情報

    f. お客様の本人確認において提供を受けた免許証・住民票等の公的証明書に関する情報、取引目的

    g. お客様がFacebook Connectを使用することを許諾し、FacebookのIDおよびパスワードを入力した場合に取得できる名前、ニックネーム、電子メールアドレス、Facebook ID、誕生日、性別、プロフィール画像、Facebook上の友達情報、その他のお客様のFacebook上で登録されている情報

    h. その他本件金融サービスの提供等に付随してお客様から弊社グループに提供される一切の情報

    弊社グループが本件金融サービスの利用に関連して取得する情報
    i. お客様がご利用になった本サービスの内容、ご利用日時および回数、本サービス利用時のお客様のオンライン行動等、お客様による本サービスの利用・閲覧に関連する情報（これには、Cookie情報、アクセスログ等の利用状況に関する情報、ご利用の端末情報、位置情報、そしてIPアドレス、ブラウザ情報、ブラウザ言語等を含むお客様の通信に関する情報を含みます）

    j. 送金ポイント、有償ポイントまたは無償ポイントの発行、購入、取得、決済利用、出金、消滅、残高その他のポイントに関する情報

    k. 立替払い決済の利用および支払状況に関する情報

    l. 前二号（jおよびk）に掲げるもののほか、メルカリサービス、またはポイント加盟店における取引および決済に関する情報（購入商品や購入店舗（メルカリ出品者を含む）等の情報を含みます）

    m. その他本件金融サービスの利用状況に関する情報

    3. 取得情報の利用目的
    弊社グループは、取得した上記２．記載の取得情報を、共通ポリシーにおける「4. 取得情報の利用目的」にかかわらず、以下の目的で利用します。

    利用目的	利用する上記2.の情報
    (1) 本サービスの提供

    本サービスに関するお客様情報の登録およびアカウントの開設のため
    本サービスを利用したお客様の商品･役務の購入に関する取引の実行のため
    商品購入時や有料サービス利用時等におけるご請求処理のため
    与信判断および与信管理のため
    本サービスをお客様にあわせてカスタマイズするため
    その他お客様が本サービスを円滑に利用できるようにするため
    a~m
    (2) 広告、マーケティング

    本サービスに関する情報その他弊社グループからの広告情報等、および弊社グループ以外の事業者で当社が広告宣伝の委託を受けた者が広告主となる広告情報等の告知のため
    弊社グループまたは弊社グループ以外の事業者に関するアンケートの実施のため
    その他広告およびマーケティングを行うため
    a,b,e,g,h,i,j~m
    (3) サービスレベルの改善、研究開発

    本サービスの利用状況の分析、本サービス利用に関する統計データの作成のため
    本サービスのサービスレベル改善のため
    今後の本サービスに関する新企画立案を行い提供するため
    その他サービスレベルの改善や研究開発を行うため
    a,e,g,h,i,j~m
    (4) 安全性確保

    不正利用防止のため
    お客様情報のデータ管理およびデータの安全性の確保のため
    その他安全性確保に必要な措置を実施するため
    a~m
    (5) お客様へのご連絡、お問い合わせ対応等

    本サービスに関する資料の送付のため
    キャンペーン等の抽選および賞品や賞品発送のため
    新規サービス等のご案内やお知らせをお届けするため
    メールマガジンの配信等、一般的な情報提供のため
    お客様の本サービス利用時およびお問い合わせ時等の本人確認のため
    お客様からのお問い合わせ対応その他のカスタマーサポートの提供のため
    その他本サービスに関する重要なお知らせ等、必要に応じた連絡を行うため
    a~d,f~h,i~m
    4. 取得情報の第三者への提供
    弊社グループは、共通ポリシーにおける「5. 取得情報の第三者への提供」にかかわらず、以下に定める場合、取得情報を第三者に提供します。

    本サービスを提供するために弊社グループが必要と判断した、本サービス上での情報の提供の場合
    お客様は、提供された他のお客様の情報を、本サービスの利用規約に従った本サービスの利用に必要な範囲でのみ利用するものとし、それぞれのお客様の事前の同意なく、他のお客様の情報を第三者に提供してはなりません。また、取得情報は、本サービス上で弊社グループが定める期間、公開されます。
    弊社グループがサービスの運営および提供において必要と判断した場合
    商品の配送、代金決済、お客様からのお問い合わせへの対応、弊社グループからお客様へのお問い合わせ、関連するアフターサービスの提供等のために、配送業者、決済代行業者、業務委託先その他の第三者に提供する場合
    法令等に基づき、裁判所、行政機関、監督官庁その他公的機関から取得情報を提供するよう求められた場合
    第三者との紛争解決のため、または本サービスのユーザーもしくは第三者の権利や利益等を守るために情報提供が必要と弊社グループが判断した場合
    本サービスの利用状況等を調査・分析するため、弊社グループがかかる調査・分析等を委託する第三者に提供する場合
    弊社グループや第三者の広告の配信または表示のため、第三者に提供する場合
    お客様が第三者の運営する外部サービスを利用するために必要な情報を、お客様の同意を得た上で弊社グループから当該第三者に提供する場合
    その他、弊社グループが取得情報の提供が必要と判断し、お客様の同意を得た場合
    5. 取得情報の取扱いに関する第三者への委託
    弊社グループは、「3.取得情報の利用目的」の達成に必要な範囲内において、取得情報の取扱いの全部または一部を業務委託先に委託することがあります。その際、弊社グループが定める本件金融サービスにおける委託先選定基準を満たす者であるかを十分審査し、契約にあたっては取得情報が適正に管理されるよう確保します。

    2019年8月27日改訂
    2019年7月16日改訂
    2019年2月13日改訂
    2018年6月15日改訂
    2018年4月17日改訂
    2017年11月22日改訂
    2017年7月6日改訂
    2017年5月8日改訂
    2016年3月7日改訂
    2015年3月16日改訂
    2014年4月23日改訂
    2013年11月1日改訂
    2013年6月25日制定
